entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  le-staging:
    acme:
      email: __ACME_EMAIL__
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      httpChallenge:
        entryPoint: web
      storage: /acme-staging.json
  le-prod:
    acme:
      email: __ACME_EMAIL__
      httpChallenge:
        entryPoint: web
      storage: /acme.json
